* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  background: #ffffff;
  padding-top: 5.3rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 1px 0 3px black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

header a img {
  display: block;
  width: 6rem;
}
header i {
  cursor: pointer;
  font-size: 2rem;
}
.nav-menu {
  background-color: rgb(255, 255, 255);
  top: 3.5em;
  position: fixed;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;
  overflow-y: auto;
  z-index: 999;
}
.nav-menu.show {
  height: 150vh;
}
.nav-list {
  min-width: 100%;
  list-style: none;
  padding: 2rem;
  margin-top: 12px;
  margin-bottom: 10rem;
}
.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0 1.5rem 0.5rem;
  border-bottom: 1px solid black;
}
.nav-link:hover {
  border-left: 4px solid #ff6600;
}
.nav-link i {
  font-size: 1.5rem;
  padding-right: 2rem;
}
.nav-link a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: Black;
  font-size: 1.5rem;
  font-weight: 500;
}
.arrow {
  padding: 1.4rem 2rem 1.4rem 3rem;
  margin: 0.1rem;
}
.product-header {
  display: flex;
  width: 100%;
}
.product-link {
  padding: 0 0 0 0.5rem;
  display: flex;
  justify-content: space-between;
}
.sub-list {
  max-height: 0;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 0 0 4rem;
}

.sub-list.show {
  max-height: 1000px;
}
.sub-link {
  border-bottom: 1px solid black;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-link:hover {
  border-left: 4px solid #ff6600;
  padding-left: 0.5rem;
}
.sub-list a {
  text-decoration: none;
  color: black;
}
.sub-sublist {
  list-style: none;
  padding-left: 3rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.sub-sublist.show {
  max-height: 200px;
}
.lisub-link {
  padding: 1rem 1rem 1rem 0.5rem;
  border-bottom: 1px solid black;
  transition: border-left 0.3s ease;
}
.lisub-link:hover {
  border-left: 4px solid #ff6600;
}

/* Nav for big screen */
.medium-nav {
  list-style: none;
  display: none;
  justify-content: center;
  align-items: center;
}
.medium-nav li {
  padding: 0 1rem;
}
.medium-nav li:hover a {
  color: #ff6600;
}
.medium-nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.5s ease;
}

@media screen and (min-width: 768px) {
  .toggle-button {
    display: none;
  }
  .medium-nav {
    display: flex;
  }
}

footer {
  box-shadow: 0 -0.2px 2px black;
  padding: 1rem;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem 3rem;
}
.wrapper p {
  font-weight: 500;
}
.footer-list {
  list-style: none;
  line-height: 1.8;
}
.footer-list li a {
  text-decoration: none;
  color: black;
}
address {
  line-height: 1.8;
}
.media-icon {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 1rem;
}
.media-icon img {
  width: 2rem;
  display: block;
}
.copyright {
  padding-top: 1rem;
  border-top: 1px solid black;
  font-size: 1rem;
  text-align: center;
}
section {
  height: 100vh;
}
/* Product HTML */
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  font-size: 1rem;
}
.product-card {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
.product-card img {
  width: 100%;
}
.btn {
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
  background: transparent;
}
.view-detail {
  width: 100%;
  border-color: black;
}
